<div>
	<form name="registrationForm" ng-controller="AdminAddNewUserController" ng-submit="registration()">
		<table>
			<tr>
				<td>Imie:</td> 
				<td><input type="text" name="username" ng-model="userName" ng-minlength=3 ng-maxlength=20 required></td>
				<td>
					<div ng-messages="registrationForm.username.$error" ng-if="registrationForm.username.$touched">
						<p ng-message="minlength">Imie musi miec co najmniej 3 znaki.</p>
      					<p ng-message="maxlength">Imie musi miec co nawyzej 20 znakow.</p>
      					<p ng-message="required">Imie jest polem obowiazkowym.</p>
					</div>
				</td>
			</tr>
			<tr>
				<td>Nazwisko:</td> 
				<td><input type="text" name="surname" ng-model="userSurname" ng-minlength=4 ng-maxlength=20 required></td>
				<td>
					<div ng-messages="registrationForm.surname.$error" ng-if="registrationForm.surname.$touched">
						<p ng-message="minlength">Nazwisko musi miec co najmniej 4 znaki.</p>
      					<p ng-message="maxlength">Nazwisko musi miec co nawyzej 20 znakow.</p>
      					<p ng-message="required">Nazwisko jest polem obowiazkowym.</p>
					</div>
				</td>
			</tr>
			<tr>
				<td>Login:</td>
				<td><input type="text" name="login" ng-model="userLogin" ng-minlength=4 ng-maxlength=20 is-uniq required></td>
				<td>
					<div ng-messages="registrationForm.login.$error" ng-if="registrationForm.login.$touched">
						<p ng-message="minlength">Login musi miec co najmniej 4 znaki.</p>
      					<p ng-message="maxlength">Login musi miec co nawyzej 20 znakow.</p>
      					<p ng-message="required">Login jest polem obowiazkowym.</p>
      					<p ng-message="uniqValidation">Uzytkownik z takim loginem juz istnieje.</p>
					</div>
				</td>
			</tr>
			<tr>
				<td>Haslo:</td>
				<td><input type="password" name="password" ng-model="userPassword" secure-password="{{passwordAgain}}" ng-minlength=8 ng-maxlength=20 required></td>
				<td>
					<div ng-messages="registrationForm.password.$error" ng-if="registrationForm.password.$touched">
						<p ng-message="minlength">Haslo musi miec co najmniej 8 znaki.</p>
      					<p ng-message="maxlength">Haslo musi miec co nawyzej 20 znakow.</p>
      					<p ng-message="required">Haslo jest polem obowiazkowym.</p>
      					<p ng-message="upperCaseLetter">Haslo musi zawierac duza litere.</p>
      					<p ng-message="lowerCaseLetter">Haslo musi zawierac mala litere.</p>
      					<p ng-message="number">Haslo musi zawierac cyfre.</p>
      					<p ng-message="specialCharacter">Haslo musi zawierac znak specjalny.</p>
					</div>
				</td>
			</tr>
			<tr>
				<td>Powtorz haslo:</td>
				<td><input type="password" ng-model="passwordAgain" name="passwordAgain" secure-password="{{userPassword}}" ng-minlength=8 ng-maxlength=20 required></td>
				<td>
					<div ng-messages="registrationForm.passwordAgain.$error" ng-if="registrationForm.passwordAgain.$touched">
						<p ng-message="minlength">Haslo musi miec co najmniej 8 znaki.</p>
      					<p ng-message="maxlength">Haslo musi miec co nawyzej 20 znakow.</p>
      					<p ng-message="required">Haslo jest polem obowiazkowym.</p>
      					<p ng-message="upperCaseLetter">Haslo musi zawierac duza litere.</p>
      					<p ng-message="lowerCaseLetter">Haslo musi zawierac mala litere.</p>
      					<p ng-message="number">Haslo musi zawierac cyfre.</p>
      					<p ng-message="specialCharacter">Haslo musi zawierac znak specjalny.</p>
      					<p ng-message="equals">Hasla sie nie zgadzaja</p>
					</div>
				</td>
			</tr>
			<tr>
				<td>Email:</td>
				<td><input type="email" ng-model="userEmail" name="email" required></td>
				<td>
					<div ng-if="registrationForm.email.$touched">
						<p ng-if="registrationForm.email.$invalid">Invalid email address.</p>
					</div>
				</td>
			</tr>
			<tr>
				<td>Data urodzenia:</td>
				<td><input type="date" ng-model="userBirthday" required></td>
			</tr>
			<tr>
				<td>Rola:</td>
				<td><select ng-model="role" name='role' required>
						<option value="ROLE_ADMIN">Admin</option>
						<option value="ROLE_USER">User</option>
					</select>
				</td>
				<td>
					<div ng-messages="registrationForm.role.$error" ng-if="registrationForm.role.$touched">
						<p ng-message="required">Rola jest polem obowiazkowym.</p>
					</div>
				</td>
			</tr>
			<tr>
				<td><button type="submit" ng-disabled="registrationForm.$invalid">Rejestracja</button></td>
			</tr>
		</table>
	</form>
</div>