<div ng-controller="AdminController">
	<nav class="navbar navbar-default">
  		<div class="container-fluid">
    		<div class="navbar-header">
				<div class="navbar-brand">Internetowy System Rezerwacji Sal Konferencyjnych</div>
			</div>
			<div class="nav navbar-nav navbar-right">
				<button class="btn btn-danger navbar-btn btn-sm" ng-click="logout()">Wyloguj</button>
			</div>
		</div>
	</nav>
	<div class="container">
		<h3>{{username}}</h3>
		<div>
			<button class="btn btn-info" ng-click="addRoom()">Dodaj Sale</button>
			<button class="btn btn-info" ng-click="delRoom()">Usun Sale</button>
			<button class="btn btn-info" ng-click="myConfirm()">Moje Potwierdzenia</button>	
			<button class="btn btn-info" ng-click="bookRoom()">Zarezerwuj Sale</button>
			<button class="btn btn-info" ng-click="getList()">Lista Uzytkownikow</button>	
			<button class="btn btn-info" ng-click="addNewUser()">Zaloz Nowe Konto</button>
		</div>
	</div>
</div>