<div ng-controller="RegistrationFormController">
<nav class="navbar navbar-default">
  		<div class="container-fluid">
    		<div class="navbar-header">
				<div class="navbar-brand">Internetowy System Rezerwacji Sal Konferencyjnych</div>
			</div>
			<div class="nav navbar-nav navbar-right">
				<button class="btn btn-default navbar-btn btn-sm" ng-click="login()">Zaloguj</button>
			</div>
		</div>
	</nav>
	<div class="container">
	<div ng-show="added" class="alert alert-success">Zarejestrowano nowego uzytkownika</div>
	<form  name="registrationForm"  ng-submit="registration()">
				<div class="form-group row" ng-class="{'has-error': registrationForm.username.$touched && (registrationForm.username.$error.required || registrationForm.username.$error.minlength || registrationForm.username.$error.maxlength), 'has-success': registrationForm.username.$valid }">
					<label for="name" class="col-sm-2 col-form-label">Imie</label>
					<div class="col-xs-4">
						<input id="name" class="form-control" type="text" name="username" ng-model="userName" ng-minlength=3 ng-maxlength=20 required>
					</div>
					<div class="col-sm-3">
						<span ng-show="registrationForm.username.$error.minlength && registrationForm.username.$touched">Imie musi miec co najmniej 3 znaki.</span>
      					<span ng-show="registrationForm.username.$error.maxlength && registrationForm.username.$touched">Imie musi miec co nawyzej 20 znakow.</span>
      					<span ng-show="registrationForm.username.$error.required && registrationForm.username.$touched">Imie jest polem obowiazkowym.</span>
					</div>
				</div>
				
				<div class="form-group row" ng-class="{'has-error': registrationForm.surname.$touched && (registrationForm.surname.$error.required || registrationForm.surname.$error.minlength || registrationForm.surname.$error.maxlength), 'has-success': registrationForm.surname.$valid }">
					<label for="surname" class="col-sm-2 col-form-label">Nazwisko</label>
					<div class="col-xs-4">
						<input class="form-control" type="text" id="surname" name="surname" ng-model="userSurname" ng-minlength=4 ng-maxlength=20 required>
					</div>
					<div class="col-sm-3">
						<span ng-show="registrationForm.surname.$error.minlength && registrationForm.surname.$touched">Nazwisko musi miec co najmniej 4 znaki.</span>
      					<span ng-show="registrationForm.surname.$error.maxlength && registrationForm.surname.$touched">Nazwisko musi miec co nawyzej 20 znakow.</span>
      					<span ng-show="registrationForm.surname.$error.required && registrationForm.surname.$touched">Nazwisko jest polem obowiazkowym.</span>
					</div>
				</div>				
			
				<div class="form-group row" ng-class="{'has-error': registrationForm.login.$touched && (registrationForm.login.$error.required || registrationForm.login.$error.minlength || registrationForm.login.$error.maxlength || registrationForm.login.$error.uniqValidation), 'has-success': registrationForm.login.$valid }">
					<label for="login" class="col-sm-2 col-form-label">Login</label>
					<div class="col-xs-4">
						<input id="login" class="form-control" type="text" name="login" ng-model="userLogin" ng-minlength=4 ng-maxlength=20 is-uniq required>
					</div>
					<div class="col-sm-3">
						<span ng-show="registrationForm.login.$error.minlength && registrationForm.login.$touched">Login musi miec co najmniej 4 znaki.</span>
      					<span ng-show="registrationForm.login.$error.maxlength && registrationForm.login.$touched">Login musi miec co nawyzej 20 znakow.</span>
      					<span ng-show="registrationForm.login.$error.required && registrationForm.login.$touched">Login jest polem obowiazkowym.</span>
      					<span ng-show="registrationForm.login.$error.uniqValidation && registrationForm.login.$touched">Uzytkownik z takim loginem juz istnieje.</span>
					</div>
				</div>

				<div class="form-group row" ng-class="{'has-error': registrationForm.password.$touched && (registrationForm.password.$error.required || registrationForm.password.$error.minlength || registrationForm.password.$error.maxlength || registrationForm.password.$error.upperCaseLetter || registrationForm.password.$error.lowerCaseLetter || registrationForm.password.$error.number || registrationForm.password.$error.specialCharacter), 'has-success': registrationForm.password.$valid }">
					<label for="pass" class="col-sm-2 col-form-label">Haslo</label>
					<div class="col-xs-4">
						<input id="pass" class="form-control" type="password" name="password" ng-model="userPassword" secure-password="{{passwordAgain}}" ng-minlength=8 ng-maxlength=20 required>
					</div>
					<div class="col-sm-3">
						<span ng-show="registrationForm.password.$error.minlength && registrationForm.password.$touched">Haslo musi miec co najmniej 8 znaki.</span>
      					<span ng-show="registrationForm.password.$error.maxlength && registrationForm.password.$touched">Haslo musi miec co nawyzej 20 znakow.</span>
      					<span ng-show="registrationForm.password.$error.required && registrationForm.password.$touched">Haslo jest polem obowiazkowym.</span>
      					<span ng-show="registrationForm.password.$error.upperCaseLetter && registrationForm.password.$touched">Haslo musi zawierac duza litere.</span>
      					<span ng-show="registrationForm.password.$error.lowerCaseLetter && registrationForm.password.$touched">Haslo musi zawierac mala litere.</span>
      					<span ng-show="registrationForm.password.$error.number && registrationForm.password.$touched">Haslo musi zawierac cyfre.</span>
      					<span ng-show="registrationForm.password.$error.specialCharacter && registrationForm.password.$touched">Haslo musi zawierac znak specjalny.</span>
					</div>
				</div>
					
				<div class="form-group row" ng-class="{'has-error': registrationForm.passwordAgain.$touched && (registrationForm.passwordAgain.$error.required || registrationForm.passwordAgain.$error.minlength || registrationForm.passwordAgain.$error.maxlength || registrationForm.passwordAgain.$error.upperCaseLetter || registrationForm.passwordAgain.$error.lowerCaseLetter || registrationForm.passwordAgain.$error.number || registrationForm.passwordAgain.$error.specialCharacter || registrationForm.passwordAgain.$error.equals), 'has-success': registrationForm.passwordAgain.$valid }">
					<label for="passAgain" class="col-sm-2 col-form-label">Powtorz Haslo</label>
					<div class="col-xs-4">
						<input id="passAgain" class="form-control" type="password" ng-model="passwordAgain" name="passwordAgain" secure-password="{{userPassword}}" ng-minlength=8 ng-maxlength=20 required>
					</div>
					<div class="col-sm-3">
						<span ng-show="registrationForm.passwordAgain.$error.minlength && registrationForm.passwordAgain.$touched">Haslo musi miec co najmniej 8 znaki.</span>
      					<span ng-show="registrationForm.passwordAgain.$error.maxlength && registrationForm.passwordAgain.$touched">Haslo musi miec co nawyzej 20 znakow.</span>
      					<span ng-show="registrationForm.passwordAgain.$error.required && registrationForm.passwordAgain.$touched">Haslo jest polem obowiazkowym.</span>
      					<span ng-show="registrationForm.passwordAgain.$error.upperCaseLetter && registrationForm.passwordAgain.$touched">Haslo musi zawierac duza litere.</span>
      					<span ng-show="registrationForm.passwordAgain.$error.lowerCaseLetter && registrationForm.passwordAgain.$touched">Haslo musi zawierac mala litere.</span>
      					<span ng-show="registrationForm.passwordAgain.$error.number && registrationForm.passwordAgain.$touched">Haslo musi zawierac cyfre.</span>
      					<span ng-show="registrationForm.passwordAgain.$error.specialCharacter && registrationForm.passwordAgain.$touched">Haslo musi zawierac znak specjalny.</span>
      					<span ng-show="registrationForm.passwordAgain.$error.equals && registrationForm.passwordAgain.$touched">Hasla sie nie zgadzaja</span>
					</div>
				</div>
	
				<div class="form-group row" ng-class="{'has-error': registrationForm.email.$touched && registrationForm.email.$error.required , 'has-success': registrationForm.email.$valid }">
					<label for="email" class="col-sm-2 col-form-label">Email</label>
					<div class="col-xs-4">
						<input id="email" class="form-control" type="email" ng-model="userEmail" name="email" required>
					</div>
					<div class="col-sm-3">
						<span ng-show="registrationForm.email.$invalid && registrationForm.email.$touched">Invalid email address.</span>
					</div>
				</div>

				<div class="form-group row" ng-class="{'has-error': registrationForm.date.$touched && registrationForm.date.$error.required , 'has-success': registrationForm.date.$valid }">
					<label for="date" class="col-sm-2 col-form-label">Data urodzenia</label>
					<div class="col-xs-4">
						<input class="form-control" type="date" name="date" ng-model="userBirthday" required>
					</div>
					<div class="col-sm-3">
						<span ng-show="registrationForm.date.$error.required && registrationForm.date.$touched">Data urodzenia jest polem obowiazkowym</span>
					</div>
				</div>

				<div class="form-group row">
    				<div class="col-sm-10">
						<button class="btn btn-primary" type="submit" ng-disabled="registrationForm.$invalid">Rejestracja</button>
					</div>
				</div>
	</form>
	</div>
</div>