<div ng-controller="UserHomeController">
	<nav class="navbar navbar-default">
  		<div class="container-fluid">
    		<div class="navbar-header">
				<div class="navbar-brand">Internetowy System Rezerwacji Sal Konferencyjnych</div>
			</div>
			<div class="nav navbar-nav">
				<button class="btn btn-default navbar-btn btn-sm" ng-click="mainPage()">Strona glowna</button>
			</div>
			<div class="nav navbar-nav navbar-right">
				<button class="btn btn-danger navbar-btn btn-sm" ng-click="logout()">Wyloguj</button>
			</div>
		</div>
	</nav>
	<div class="container">
	<h3>{{username}}</h3>
	
	<button class="btn btn-info" ng-click="book()">Zarezerwuj Sale</button>
	</div>
</div>